* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./asset/image/pexels-matthew-montrone-230847-1179229.jpg) no-repeat center center/cover;
    color: white;
}

.container {
    width: 420px;
    background-color: transparent;
    padding: 30px 40px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    margin: 20px;
}

.container .input-box {
    position: relative;
    width: 100%;
    margin: 20px 0;
    border: none;
    outline: none;
    color: black;
}

.input-box input {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
    background-color: rgba(205, 230, 17, 0.609);
    border: 2px solid whitesmoke;
    color: black;
    font-size: 16px;
}

.input-box input::placeholder {
    color: #00000098;
}

.input-box i {
    position: absolute;
    transform: translate(-20px);
    right: 20px;
    top: 20px;
}

.container .forgot-password {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: 10px 0;
}

.forgot-password label input {
    accent-color: whitesmoke;
    cursor: pointer;
}
 .forgot-password a {
    color: white;
    text-decoration: none;
 }

 .forgot-password a:hover {
    text-decoration: underline;
 }

 .container .btn {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
    background-color: rgba(205, 230, 17, 0.609);
    border: 2px solid white;
    
 }

 .btn:hover {
    background-color: rgb(242, 242, 226);
 }

 .container .register-link {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 16px;
 }

 .register-link a {
    color: white;
    text-decoration: none;
 }

 .register-link a:hover {
    text-decoration: underline;
 }